﻿<html>
    <head>
        <link href="~/css/main.css" rel="stylesheet" type="text/css">
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h3>Here are some competitive eaters</h3>
        <ul>
            <li><button onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");">Clear Information</button></li>
            <li><button onclick="@("window.location.href='" + @Url.Action("Joey", "Home") + "'");">Joey Chestnut</button></li>
            <li><button onclick="@("window.location.href='" + @Url.Action("Carmen", "Home") + "'");">Carmen Cincotti</button></li>
            <li><button onclick="@("window.location.href='" + @Url.Action("Matt", "Home") + "'");">Matt Stonie</button></li>
            <li><button onclick="@("window.location.href='" + @Url.Action("Geoffrey", "Home") + "'");">Geoffrey Esper</button></li>
        </ul>
        @RenderBody()
    </body>
</html>